.f-style {
    font-family: 'Bree Serif', serif;
}

body {
    background: #F7971E;
    background: -webkit-linear-gradient(to right, #FFD200, #F7971E);
    background: linear-gradient(to right, #FFD200, #F7971E);
}

.ttl {
    background: none;
    /* width: 590px;*/
    margin: 0 auto;
    padding: 0px;
}

    .ttl h1, p {
        color: #148F77;
        margin: 0px;
        padding: 2px;
    }

h1 {
    font-family: 'Permanent Marker', cursive;
}

.ttl-color {
    display: inline-block;
}

.form-group {
    display: inline-block;
}

.add {
    padding: 3px;
    margin-left: 7px;
    font-weight: bold;
    background-color: #71949e;
}

.ip {
    margin-top: 20px;
}

.bg {
    background: #2a5f6e;
    background: -webkit-linear-gradient(to right, #71B280, #2a5f6e);
    background: linear-gradient(to right, #71B280, #2a5f6e);
    margin-right: 25px;
    font-weight: bold;
}

.sect {
    margin-top: 70px;
}
ul {
  list-style-type: none;
  margin: 7px;
  width:100%;
}
.devour-btn{
    margin-bottom: 7px;
}
